/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 janv. 2018, 12:36:12
    Author     : PcMarie
*/
/*Formulaire index.php */ 
.formulaireInsc
{
    border: 1px solid black;
    width: 20%;
    border-color:black;
    margin-left:40%;
    margin-top:20%;
}
.formulaireInsc p
{
    margin-left:2%;
    width: 80%;
}

.formulaireInsc p input
{
    margin-left:2%;
    width: 80%;
}
.lienCreation
{
    color:grey;
}
.lienCreation a:hover
{
    color:black;
}
.lienCreation a.click
{
    color:black;
}

/*PageAccueil.php */ 
.divGeneral
{
    display: flex;
    height: 100vh;
}
/* Bloc affichage message  */
.divG
{
   width:80%;
   border: 1px solid black;
}
.divG form
{
    position:relative;
    bottom:0;
}
.divG textarea
{
   overflow:hidden;
   padding:0px;
   resize : none;
   width: 99.5%;
   height: 80px;
}
.blocMessages
{
    background-color: white;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid black;
}
/* Bloc liste follows , boutons*/
.divD
{
    width:20% ;
    border: 1px solid black;
}
.name
{
    
}
.boutonF
{
    width: 100%;
}
.boutonF input
{
    width: 70%;
}


